PubkeyAcceptedAlgorithms +ssh-rsa # For OpenSSH <8.5, use PubkeyAcceptedKeyTypes
Host 192.168.*
    StrictHostKeyChecking no
Host 10.*
    StrictHostKeyChecking no
Host *gerrit*
    StrictHostKeyChecking no
